html,
body {
}

.App {
  font-family: sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #c8d2da;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding-left: 10px;
  font-size: 16px;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding-right: 10px;
  @media (max-width: 500px) {
    user-select: none;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.heading-item {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
}

.padding-right-16 {
  padding-right: 16px;
}

.padding-right-36 {
  padding-right: 36px;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  box-sizing: border-box;
  padding: 5rem 0rem;
  text-align: left;
  background: rgb(0, 0, 0, 0.7);
  position: fixed;
  overflow: scroll;
  z-index: 10;
  body {
    position: fixed;
  }
}
#scanner {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
}

.modal-body {
  padding: 4px;
  padding-right: 8px;
  background-color: white;
  color: black;
}

.modal-close {
  position: absolute;
  top: 48px;
  right: 2%;
  cursor: pointer;
  background-color: white;
  padding: 16px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 3px solid rgb(181, 173, 173);
  z-index: 1;
}

.modal-close:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  font-size: 32px;
  margin-top: -6px;
  margin-left: 4px;
}

.modalRow {
  border: 1px solid rgb(181, 173, 173);
  border-collapse: collapse;
}
table {
  border-collapse: collapse;
}

table tr td,
table tr th {
  page-break-inside: avoid;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.waitingForConnection {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.msg-tab {
  background: #d2ded2;
  border: 1px solid #d2ded2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.msg {
  color: #205b20;
  font-weight: bold;
}
.auto-otp {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 12px;
  border: 1px solid #d2ded2;
  border-radius: 5px;
  margin: 8px 0px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.form {
  margin: 16px;
  margin-top: 48px;
}

.loading {
  margin: 16px;
  margin-top: 48px;
}

img {
  position: absolute;
}
#holder {
  position: relative;
}
.face {
  position: absolute;
  border: 2px solid yellow;
}
